<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/style.css" />
    <title></title>
  </head>
  <body>
    <h1>this is a page</h1>
    <h2>Facts:</h2>
    <ul>
      {{#each facts}}
      <li>
        {{text}}
      </li>
      {{/each}}
    </ul>
  </body>
</html>
