<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Settlers of Catan</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    </head>

    <body class="ui header teal">

        <div class="ui top fixed menu">
        <div class="item">
            <img src="../images/logo.png">
        </div>

        <a class="item ui header teal" href="#">Start a New Game</a>
        <a class="item ui header teal" href="#">Join Existing Game</a>
        <a class="item ui header teal" href="./log-in">Log-in</a>
        <a class="item ui header teal" href="#">Register</a>
        <div class="item ui right header blue">
            <!--<?php if(isset($userName)) echo "Wellcome ".$userName; ?>-->
        </div>
        <a class="item ui header blue" href="log-out.php">Sign-out</a>

        </div>
        <p> .
        </p>

        {{main}}


    </body>
</html>